@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    background: linear-gradient(173deg, rgba(84, 35, 215, 0.24) -20.49%, rgba(31, 61, 167, 0.00) 93.7%);
}

section{
    border: 1px solid rgba(0, 0, 0, 1);
    background: rgba(84, 35, 215, 0.24),rgba(31, 61, 167, 0.00);
    display: flex;
}

/* .hero-image{
    width: 100%;
} */

.container2{
    font-family: Inter;
    font-weight: 400;
    font-size: 28px;
    justify-content: center;
    /* width: 45%; */
    /* padding: 15% 20%; */

}

h1{
    color: #222;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    margin-top: 35%;
    padding: 1rem 2rem;
}

.google-icon{
    justify-content: left;

}

.google-button{
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 6% 6%;
    gap: 16%;
}

P{
   margin: 3% 3%;
   justify-content: center;
   text-align: center;
}


form{
    font-family: Inter;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.5px;
}
input{
    font-family: Inter;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: rgba(84, 35, 215, 0.24),rgba(31, 61, 167, 0.00);
    border-radius: 15px;
    width: 100%;
    margin-top: 5%;
    padding: 0.5rem 2rem;
    justify-content: center;
}
.username{

}


.input-button{
    /* background-color: blue; */
}